.ipynb_checkpoints
__pycache__/
*.cache
*_bin.py
*.pyc
multi-axis-tomo/recon_tests/sphere_91-proj_90-range_dual-sirt_data.npy
multi-axis-tomo/recon_tests/tri_91-proj_90-range_dual-sirt_data.npy
multi-axis-tomo/recon_tests/vortex_91-proj_90-range_dual-sirt_data.npy
*.vts
*.vtr
multi-axis-tomo/skyrmion demo/D-90nm_t-20nm_B-0T-skyrmion.npy
